# Segmenting and Clustering Neighborhoods in Toronto

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

To create the above dataframe:
    
- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that - M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the - neighborhoods separated with a comma as shown in row 11 in the above table.
- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

Note: There are different website scraping libraries and packages in Python. For scraping the above table, you can simply use pandas to read the table into a pandas dataframe.

Another way, which would help to learn for more complicated cases of web scraping is using the BeautifulSoup package. Here is the package's main documentation page: http://beautiful-soup-4.readthedocs.io/en/latest/

The package is so popular that there is a plethora of tutorials and examples on how to use it. Here is a very good Youtube video on how to use the BeautifulSoup package: https://www.youtube.com/watch?v=ng2o98k983k

# PART 1

Use pandas, or the BeautifulSoup package, or any other way you are comfortable with to transform the data in the table on the Wikipedia page into the above pandas dataframe.

In [1]:
# Prepare library
import numpy as np # library to handle data in a vectorized manner
import sys
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

# !conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

!pip install beautifulsoup4
!pip install lxml

print('Libraries imported.')

Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4) (1.9.3)
Requirement already satisfied: lxml in c:\users\user\anaconda3\lib\site-packages (4.4.1)
Libraries imported.

##### Scrape data from website wikipedia

In [3]:
# making the soup
from bs4 import BeautifulSoup
import requests

# website
website_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(website_url).text

soup = BeautifulSoup(source, 'xml')
print(soup.title) # check title

# see table
table = soup.find('table')
print(table.tr.text)

<title>List of postal codes of Canada: M - Wikipedia</title>

Postal code

Borough

Neighborhood

In [4]:
# define the dataframe columns
column_names  = ['Postalcode', 'Borough', 'Neighborhood']
df = pd.DataFrame(columns = column_names)
df

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood]
Index: []

##### Preprocessing and getting value

In [5]:
# explore value data
for cell in table.find_all('tr'):
    row_data=[]
    for td_cell in cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data) == 3:
        df.loc[len(df)] = row_data
df.head()

  Postalcode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [9]:
# export df into csv file
df.to_csv('toronto_raw.csv', index=False)
# df.head()

##### Cleaning data

In [8]:
# drop row Borough is 'Not assigned'
df1 = df[df.Borough != 'Not assigned']
df1.head()

  Postalcode           Borough                                  Neighborhood
2        M3A        North York                                     Parkwoods
3        M4A        North York                              Victoria Village
4        M5A  Downtown Toronto                    Regent Park / Harbourfront
5        M6A        North York             Lawrence Manor / Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [10]:
# # replace '/' to ','
# df1["Neighborhood"] = df1["Neighborhood"].str.replace("/", ",", case = None ) 
# df1.head()

In [11]:
# save new csv file
df1.to_csv('toronto_new.csv', index = False)
# list(df1.Postalcode)

##### the number of rows of dataframe

In [13]:
print('The Dataframe shape is', df1.shape)

The Dataframe shape is (103, 3)

- - -

## PART 2

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [15]:
# import
!pip install geocoder
import geocoder
def get_geocode(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]

Requirement already satisfied: geocoder in c:\users\user\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: future in c:\users\user\anaconda3\lib\site-packages (from geocoder) (0.17.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from geocoder) (2.22.0)
Requirement already satisfied: ratelim in c:\users\user\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from geocoder) (1.12.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.0)

In [16]:
# import Latitude, Longitude csv file
url = 'http://cocl.us/Geospatial_data'
df_geo = pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

##### merging column with latitude and longitude

In [17]:
# merge 2 dataframe 
df_geo.rename(columns = {'Postal Code':'Postalcode'},inplace = True)
df_merg = pd.merge(df_geo, df1, on ='Postalcode')

# define the dataframe columns
df_toronto = df_merg[['Postalcode','Borough','Neighborhood','Latitude','Longitude']]
df_toronto.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [18]:
# save new csv file
df_toronto.to_csv('toronto_V2.csv', index=False)

- - -